# Configuration file for EditorConfig
# More information is available under http://EditorConfig.org

# Ignore any other files further up in the file system
root = true

# Configuration for cpp files
[*]
# Enforce Linux style line endings (\n only)
end_of_line = lf
charset = utf-8
# Always end files with a blank line
insert_final_newline = true
# Force space characters for indentation
indent_style = space
# Always indent by 4 characters
indent_size = 4
# Remove whitespace characters at the end of line
trim_trailing_whitespace = true

[*.pro]
indent_style = tab

[*.pri]
indent_style = tab

[CMake*.txt]
indent_style = tab

[*.cmake]
indent_style = tab

[*.bat]
charset = gbk
end_of_line = crlf

[SOUI.pro]
end_of_line = crlf

[utilities.pro]
end_of_line = crlf

[demo2.pro]
end_of_line = crlf
